
.header{
  display: flex;
  flex-direction: column;
  border-bottom: double gold 3px;
  text-align: center;
}
.block{
  display: flex;
  flex-direction: column;
  border: double gray 3px;
  width: 600px;
  margin: 30px auto;
  padding: 3px 7px;
  background-color: #F0F0F0;
}
.blockHead{
  display: flex;
  justify-content: space-around;
  border-bottom: double gold 3px;
}
.label{
  display: flex;
  border: double gray 3px;
}
.blockTrek{
  display: flex;
  justify-content: space-between;
}
.numberTrack{
  display: flex;
  flex-direction: column;
  width: 50px;
  border-right: double greenyellow 3px;
}
.nameTrack{
  display: flex;
  flex-direction: column;
}
.performer{
  display: flex;
  width: 200px;
  border-left : double greenyellow 3px;
  flex-direction: column;
}